table,
td,
tr,
th {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 3pt;
  width: 16em;
  height: 1.5em;
  text-align: center;
  font-size: 200;
}
tr,
td,
th {
  box-shadow: 0px 1px 1px grey;
  background-color: #eaeaea;
  font-size: 200;
}
/* td:hover {
  color: #4ba9ba;
  background-color: red;
} */
td:hover:not(#prev, #next, #emptyCell1, #emptyCell2) {
  color: #4ba9ba;
  background-color: red;
}
#tableTitle {
  background-color: #7ca28b;
  height: 1.6em;
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
}
th {
  height: 50%;
}
#days {
  font-size: small;
}
#prev {
  text-align: left;
  box-shadow: none;
  border: none;
  font-size: small;
}
#next {
  text-align: right;
  box-shadow: none;
  border: none;
  font-size: small;
}
#emptyCell2 {
  box-shadow: none;
  border: none;
}
#today {
  background-color: #4ba9ba;
  color: white;
}
#today:hover {
  color: #7ca28b;
  background-color: red;
}
#sunday {
  color: #4ba9ba;
}
form {
  background-color: #d9c084;
  padding: 5pt;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
